body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    color: #333;
}
h4{
    color: #7a7a7a;
    padding: 0px;
    margin-top: 40px;
    margin-bottom: 0px;
    font-weight:520;
}

p {
    color: #5d5d5d;
    margin-top: 8px;
}
.Project_list{
display: flex;
overflow-y: hidden;

}

.Project_list_items{
    background-color: #00000011;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin: 8px;
    border-radius: 50px;
    font-size: small;
    height: 25px;
    width: auto;
    text-align: center;
    }

.name{
    text-align: center;
    font-size: xxx-large;
    }


.contactme{
position: fixed;
bottom: 0px;
right: 0px;
text-align: right;
}


.Upwork{
    background-color: #008cff;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    margin:20px;
    border-radius: 15px;
    font-size: small;
    height: 25px;
    width: auto;
    text-align: center;
}





body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  h4 {
    margin-bottom: 10px;
  }
  
  .tag-navigator {
    margin-bottom: 20px;
  }
  
  .tag-filter {
    margin: 4px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  .Project_list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
  }
  